# Ignore everything
/*

# Except the gitignore
!/.gitignore

# And these directories
!/.config
!/.fzf
!/.oh-my-zsh
!/.scripts
!/.tmux
!/.yadm
!/vimwiki

# And this files
!/.tmux.conf
!/.warprc*
!/.zshrc
!/LICENSE
!/pylintrc
!/README.md
!/TODO
