# Ignore everything
/*

# Ignore vim temp files
*~
*.swp
*.swo

# Except the gitignore
!/.gitignore

# Ignore specific paths in config dir
!.config
.config/*
!.config/zsh
.config/zsh/local_aliases.zsh
!.config/nvim
.config/nvim/*
!.config/nvim/colors

# Exclude these directories
!.fzf
!.oh-my-zsh
!.scripts
!.tmux/plugins/tpm
!.yadm
!vimwiki

# And this files
!.config/nvim/init.vim
!.tmux.conf
!.warprc##*
!.zshrc
!LICENSE
!pylintrc
!README.md
!TODO

# Do ignore this subdirectories
.yadm/repo.git


# Do ignore these files
/vimwiki/Work notes.wiki

