# Ignore everything
/*

# Ignore vim temp files
*~
*.swp
*.swo

# Except the gitignore
!/.gitignore

# Ignore specific paths in config dir
!.config
.config/*
!.config/bumblebee-status
!.config/i3
!.config/scripts
!.config/zsh
.config/zsh/local_aliases.zsh
.config/zsh/aliases.zsh.shadow
.config/zsh/prompt.zsh
.config/zsh/config.zsh
!.config/nvim
.config/nvim/*
!.config/nvim/colors
!.config/ranger
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
!.config/tmuxinator

# Exclude these directories
!.fzf
!.oh-my-zsh
!.scripts
.scripts/encrypt
!.spaceship-zsh-theme
!.taskrc
!.tmux/plugins/tpm
!.unison
!.yadm
!vimwiki
!zsh_custom/plugins/zsh-syntax-highlighting
!zsh_custom/plugins/zsh-autosuggestions

# And this files
!.gitmodules
!.config/nvim/init.vim
!.taskrc
!.taskrc.device##*
!.tmux.conf
!.tmux.minimal.conf
!.tigrc
!.warprc##*
.warprc##WorkDev
!.Xdefaults
!.Xresources
!.zshrc
!LICENSE
!pylintrc
!README.md
!.config/compton.conf
!.local
.local/*
!.local/share
.local/share/*
!.local/share/marker
.local/share/marker/*
!.local/share/marker/user_commands.txt

# Do ignore this subdirectories
.yadm/repo.git
.scripts/work

# Take only pattern matched files from this directory but not other files and subdirectories
.unison/**
!.unison/*.prf

# Do ignore these files
/vimwiki/Work notes.wiki
/vimwiki/Courses.wiki
/vimwiki/IEC101.wiki
/vimwiki/Kali.wiki
