inoremap jk <Esc>

set relativenumber
set number

set clipboard+=unnamed

set showmode

set ignorecase

set incsearch

set surround

" enable visual replace while preserving yank
vnoremap p "_dP

" use idea to join lines smartly
set ideajoin


" unite IDE's navigation history with VIM's
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>

" nnoremap s <Nop>
" nnoremap S <Nop>

nnoremap s :action AceAction<CR>
nnornmap S :action AceLineAction<CR>
nnornmap <Space>t :action AceTargetAction<CR>
